
[local]
ip=127.0.0.1
port=7779
core_number=2
checkpoint_interval=10
node_memory_limit_mb=4000
enable_data_store=true
enable_wal=true
eloq_data_path=/tmp/build/dce06a3d/eloq_test_src/runtime/test_data/datafarm4
event_dispatcher_num=1
auto_redirect=true

[cluster]
ip_port_list=127.0.0.1:7779
tx_nodegroup_replica_num=3
txlog_service_list=127.0.0.1:9000
txlog_group_replica_num=3

[store]
rocksdb_storage_path=/tmp/build/dce06a3d/eloq_test_src/runtime/rocksdb_data/data_4
data_store_config_file=/tmp/build/dce06a3d/eloq_test_src/runtime/data_store_config_4.ini

rocksdb_cloud_bucket_prefix=eloq-
rocksdb_cloud_bucket_name=test-1749641937484
rocksdb_cloud_s3_endpoint_url=http://172.31.5.203:9900
aws_access_key_id=35cxOCh64Ef1Mk5U1bgU
aws_secret_key=M6oJQWdFCr27TUUS40wS6POQzbKhbFTHG9bRayoC

ds_peer_node=127.0.0.1:9100
[cluster]
cluster_config_file=/tmp/build/dce06a3d/eloq_test_src/runtime/test_data/cluster_config3.cnf
